.sharing-services
  .navigation
    ul
      li.email
        a(href="#") ✉️
      li.facebook
        a(href="#") F
      li.twitter
        a(href="#") T
      li.others
        a(href="#") 🔗

  .services
    .service
      .sender
        ' From
        span = @sender_email
      .recipient
        input(type="email" placeholder="Email address")
      .message
        textarea
          = "To my good friend,\n\n"
          = "Please buy the things here:\n\n"
          = @share_url
      .action
        button Send email
